# Cordova build artifacts
platforms/
plugins/
node_modules/

# Sensitive files
build.json
*.keystore
*.jks

# OS / Editor stuff
.DS_Store
.idea/
.vscode/
res/screen/.DS_Store
www/.DS_Store
res/icon/.DS_Store
