@font-face {
    font-family: 'Michroma-Regular';
    src: url('Michroma-Regular.ttf');
}

html,
body {
    background-color: black;
    color: white;
    font-family: Michroma-Regular;
    font-size: 1em;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.container {
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

div {
    max-width: 100%;
}

img {
    width: 100%;
    object-fit: contain;
}


.header {
    background-color: black;
    max-height: 15%;
}

#headerImage {
    max-height: 9em;
    object-fit: contain;
}

.channels {
    margin: 2em;
    max-height: 33%;
}

.channel {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    max-height: 4em;
    font-size: 0.6em;
    color: white;
    background-color: black;
    border-radius: 0.4em;
    font-family: Michroma-Regular;
}

.channelIcon {
    max-height: 3em;
    max-width: 3em;
}

.channelTable {
    text-align: center;
}

#cbsChannelButton {
    border-color: white;
}

#dfChannelButton {
    border-color: yellow;
}

#tdmChannelButton {
    border-color: cornflowerblue;
}

#mtvChannelButton {
    border-color: red;
}

#messageBox {
    margin: 1em;
    height: 5em;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    justify-content: center;
    font-family: Michroma-Regular;
    font-size: 1em;

}

/* Modal Content */
.modal-content {
    background-color: black;
    padding: 0px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */
.close {
    color: red;
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    margin-top: 1%;
    border-width: 0px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#track-meta {
    margin-top: 10%;
}

#nowPlayingCover {
    margin-left: 10%;
    margin-right: 10%;
}

#nowPlayingExt {
    margin-left: 10%;
    margin-right: 10%;
}
